{
    "presets": [
        "react",
        ["env", {
            "modules": false,
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        "transform-class-properties"
    ]
}
