<!DOCTYPE html>
<html lang="en">
    <head>
        <title>__TITLE__</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
<% if(__PRODUCTION__) { %>
        <link href="/css/style.css" media="all" rel="stylesheet">
<% } %>
    </head>
    <body>
        <h1><a href="//www.npmjs.com/package/kickjs">kickjs</a></h1>
        <p><strong>project:</strong> __TITLE__</p>
        <p><strong>template:</strong> react</p>
        <p><strong>version:</strong> <%= __VERSION__%></p>
        <p><strong>environment:</strong> <%= __NODE_ENV__%></p>
        <div id="app"></div>
<% if(__PRODUCTION__){ %>
        <script src="/js/app.min.js"></script>
<% } else{ %>
        <script src="/js/app.js"></script>
<% } %>
    </body>
</html>
